.nav
{
  display: flex;
 justify-content: center;
 height: 50px;
 padding-top: 10px;

 color: white;
 
}

.content
{
  text-align: center;
}

.dark-mode{
  background-color: black;
  color: whitesmoke;
}